In [1]:
from snp_query_box import DsnpHelperFunction

In [2]:
len(DsnpHelperFunction.get_snp_contract_list())

38

In [12]:
DsnpHelperFunction.get_snp_contract_list(year=2024)

['H3931',
 'H3152',
 'H2112',
 'H1013',
 'H1076',
 'H1419',
 'H5813',
 'H5850',
 'H0901',
 'H2663',
 'H2667',
 'H2672',
 'H3959',
 'H5414',
 'H1609',
 'H1610',
 'H3239',
 'H5302',
 'H5325',
 'H1692',
 'H3146',
 'H5337',
 'H5593',
 'H7149',
 'H8597',
 'H0628',
 'H3192',
 'H3312',
 'H3597',
 'H4711',
 'H4982',
 'H5793',
 'H6399',
 'H1608',
 'H2293',
 'H8649',
 'H5521',
 'H5522']

In [3]:
len(DsnpHelperFunction.get_snp_contract_list(year=2022))

33

In [4]:
len(DsnpHelperFunction.get_snp_contract_list(year=2022, historic=False))

19

In [5]:
len(DsnpHelperFunction.get_snp_plan_list(year=2024, historic=False))

104

In [11]:
DsnpHelperFunction.get_snp_plan_list(year=2024, historic=False)[:10]

['H0628-012',
 'H0628-013',
 'H0628-018',
 'H1608-062',
 'H1608-076',
 'H1608-077',
 'H1609-017',
 'H1609-019',
 'H1609-043',
 'H1609-044']

In [6]:
state_map = DsnpHelperFunction.get_snp_plan_state_mapping_df(year=2024)

In [7]:
state_map

     contract_pbp CMS_State
3158    H0628-012        KY
3160    H0628-013        OH
3163    H0628-018        OH
3164    H1608-062        SD
3165    H1608-076        AR
...           ...       ...
3300    H7149-006        NE
3301    H8597-001        TX
3304    H8597-002        TX
3305    H8597-003        TX
3306    H8649-010        UT

[104 rows x 2 columns]

In [9]:
state_map = DsnpHelperFunction.get_snp_plan_state_mapping_df(year=1998)
state_map

  contract_pbp CMS_State
1    H3931-069        PA